
#wraper{
	width:810px;
	background-color:#EEECDB;
	margin:auto;
	overflow:hidden;
}
.img{
	background-color:#fff;
	background-image:url("img.jpg");
	background-repeat:no-repeat;
	background-size:100% 60%;
	width:250px;
	height:200px;
	float:left;
	margin:15px 0 15px 15px;
}
.krug{
	background-image:url("detelina.jpg");
	background-size:70% 70%;
	background-repeat:no-repeat;
	background-position:center;
	height:60px;
	width:60px;
	border-radius:48px;
	background-color:#fff;
	position:relative;
	top:80px;
	left:90px;
}
.naslov{
	position:relative;
	top:70px;
	text-align:center;
}
